{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12 col-md-offset-3 col-md-6 text-center">

    <h1>Atelier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workshop.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ workshop.title }}</td>
            </tr>
            <tr>
                <th>Problème</th>
                <td>{{ workshop.problem }}</td>
            </tr>
            <tr>
                <th>But</th>
                <td>{{ workshop.goal }}</td>
            </tr>
            <tr>
                <th>Ispublic</th>
                <td>{% if workshop.isPublic %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
<li class="form-bottom-margin">
    <a class="btn btn-default btn-block" href="{{ path('workshop_event_new', { 'id' : workshop.id }) }}">Planifier un événement</a>
</li>
<li class="form-bottom-margin">
<a class="btn btn-default btn-block"  href="{{ path('workshop_index') }}">Retour à la liste</a>
        </li>
<li class="form-bottom-margin">
<a class="btn btn-default btn-block"  href="{{ path('workshop_edit', { 'id': workshop.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
<h2 class="col-xs-12 text-center">Liste des événements de l'atelier : {{ workshop.title }}</h2>
<table class="table table-bordered col-xs-12">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Terminé</th>
            <th>Restitué</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td>
                    <a href="{{ path('workshop_event_show', { 'id': event.id }) }}">{{ event.id }}</a>
                </td>
                <td>
                    {% if event.date %}{{ event.date|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
                <td>
                    {% if event.isOver %}Yes{% else %}No{% endif %}
                </td>
                <td>
                    {% if event.isReturned %}Yes{% else %}No{% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('workshop_event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('workshop_event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
