{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12 col-md-offset-3 col-md-6 text-center">

    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
            <tr>
                <th>Function</th>
                <td>{{ user.function }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li class="form-bottom-margin">
            <a class="btn btn-default  " href="{{ path('user_list', { 'id': user.id }) }}">Retour à la liste</a>
        </li>

        <li class="form-bottom-margin">
            <a class="btn btn-default  " href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
