{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12 col-md-offset-3 col-md-6 text-center">

        <h1>Rooms list</h1>

        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>Nom</th>
                    {# <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Pays</th>
                <th>Nombre de m² </th>
                <th>Nombre de personnes maximum</th>
                <th>Ilots</th>
                <th>Projection</th>
                <th>Sorties</th>
                <th>Murs</th>
                <th>Paperboard</th>
                 #}
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        {# <td>
                            <a href="{{ path('workshop_room_show', { 'id': room.id }) }}">{{ room.id }}</a>
                        </td> #}
                        <td>{{ room.Name }}</td>
                        {# <td>{{ room.Address }}</td>
                <td>{{ room.City }}</td>
                <td>{{ room.Zipcode }}</td>
                <td>{{ room.Country }}</td>
                <td>{{ room.Area }}</td>
                <td>{{ room.MaxPeople }}</td>
                <td>{% if room.Islet %}Yes{% else %}No{% endif %}</td>
                <td>{% if room.Projection %}Yes{% else %}No{% endif %}</td>
                <td>{% if room.Exit %}Yes{% else %}No{% endif %}</td>
                <td>{% if room.Wall %}Yes{% else %}No{% endif %}</td>
                <td>{% if room.Paperboard %}Yes{% else %}No{% endif %}</td>
                <td>{% if room.NeedPlace %}Yes{% else %}No{% endif %}</td>
                <td>{{ room.PlaceNumberPeople }}</td>
                <td>{{ room.PlaceNumberIslet }}</td>
                <td>{{ room.PlaceArea }}</td> #}
                        <td>
                            <ul class="list-unstyled list-inline">
                                <li "form-bottom-margin">
                                    <a class="btn btn-default btn-block form-bottom-margin" href="{{ path('workshop_room_show', { 'id': room.id }) }}">Afficher</a>
                                </li>
                                <li class="form-bottom-margin">
                                    <a class="btn btn-default btn-block " href="{{ path('workshop_room_edit', { 'id': room.id }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}