{% extends 'base.html.twig' %}

{% block body %}
    <h1>Selectionner la salle</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <select name="salle" id="salle">

        {% for room in rooms %}

            <option value="{{ room.id }}">{{ room.Name }}</option>

        {% endfor %}
    </select>
    <input type="submit" value="Enregistrer la salle"/>
    {{ form_end(form) }}
    <a class="btn btn-default btn-block" href="{{ path('workshop_room_new') }}">Ajouter une nouvelle salle</a>

{% endblock %}