{% extends 'base.html.twig' %}

{% block body %}
<a class="btn btn-default btn-block" href="{{ path('workshop_list') }}">Terminer</a>

    <h2>Sélection des participants</h2>
    {{ form_start(form2) }}

    {{ form_widget(form2.usrOid) }}

    <input type="submit" value="Ajouter"/>
    {{ form_end(form2)}}

    {{ form_start(form1) }}
    {{ form_widget(form1) }}
    <input type="submit" value="Créer"/>
    {{ form_end(form1)}}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse email</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for participant in participants %}

        <tr>
                <td>{{ participant.usrOid.firstname}}</td>
                <td>{{ participant.usrOid.lastname}}</td>
                <td>{{ participant.usrOid.email}}</td>
<td>
    <a class="btn btn-danger btn-block" href="{{ path("workshop_event_delete_participant", {'id' : participant.id }) }}">X</a>
</td>
        </tr>

    {% endfor %}
    <tbody>
</table>

{% endblock %}